{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="bg-white p-8 rounded-xl shadow-lg">
        <h2 class="text-3xl font-bold text-slate-800 mb-4">Latest Sport Events</h2>
        <p class="text-slate-600">There's nothing to see here yet! Once events are added, they will be displayed on this page.</p>
    </div>
{{end}}
